/**************************/
/* GLOBAL SETTINGS */
/**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-gray);
}

*:focus {
  outline: none;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.hidden {
  visibility: hidden;
  opacity: 0;
}

.container {
  max-width: 90vw;
  max-height: 90vh;
  margin: var(--spacing-96) auto;
}

.flex {
  display: flex;
  align-items: center;
}

.link {
  justify-content: space-between;
}

.box-container {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-default);
  padding: var(--spacing-12);
  border-radius: var(--border-radius-default);

  background-color: var(--color-primary-tint-5);
}

.box {
  padding: var(--spacing-12);
  border-radius: var(--border-radius-default);

  width: 100%;
}

.filter {
  background-color: var(--color-primary);
}

.header {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.include-data {
  justify-content: space-between;
}

.standard {
  background-color: var(--color-primary-tint-5);
  color: var(--color-gray);
}

.text-content {
  margin-left: var(--spacing-12);
}

.icon {
  height: var(--spacing-24);
  width: var(--spacing-24);
}

.custom-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.filter-field {
  width: 90%;
  border: none;
  padding: var(--spacing-02) var(--spacing-08);
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: var(--color-primary);
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
}

/* GRIDS */
.grid {
  display: grid;
  row-gap: var(--spacing-12);
  column-gap: var(--spacing-12);
}

.grid--1-2 {
  grid-template-columns: 1fr 2fr;
}

.grid--2-1 {
  grid-template-columns: 2fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* BUTTONS */

.btn {
  text-decoration: none;
  padding: var(--spacing-12);
  border-radius: var(--border-radius-default);

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  color: var(--color-primary-tint-5);
  background-color: var(--color-primary);
  /* TODO: delete space-between - add class include-data on this button */
  justify-content: space-between;
}

.btn--full:hover,
.btn--full:active {
  color: var(--color-accent);
}

.btn--outline:link,
.btn--outline:visited {
  color: var(--color-primary);
  align-self: start;

  padding: 0;
}

.btn--outline:hover,
.btn--outline:active {
  color: var(--color-accent);
}
