/* MAIN-SCREEN */
header {
  border-bottom: solid 1px var(--color-secondary);
  padding: var(--spacing-12) 0;
}
.header-heading {
  width: 100%;
  justify-content: space-between;
}
.header-logo {
  height: var(--spacing-32);
  margin-right: var(--spacing-32);
}

#user-name {
  color: var(--color-primary);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-default);
}

.menu-options .btn:not(:last-child) {
  margin-right: var(--spacing-12);
}
.stats-container,
.container--deals-view {
  height: 100%;
  width: 100%;
  padding: var(--spacing-12) 0;
}

/* USER CONTAINER */
.user-container {
  margin-bottom: var(--spacing-12);
}

.btn-box .icon {
  margin-right: var(--spacing-12);
}

#user-menu--reload {
  justify-content: center;
}

.grid--3-cols .search-container {
  grid-column: 2/-1;
}

/* FILTERS CONTAINER */

.filters-container .grid--3-cols {
  grid-column: 1 / -1;
}

.grid--3-cols #user-menu--reload {
  grid-row: 1 / span 2;
  grid-column: 3;
}

.summary-section {
  color: var(--color-primary-tint-5);
  justify-content: space-evenly;
}

/* DEALS CONTAINER */
.filters-section,
.deals-section {
  height: 90%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

.deal-container {
  background-color: var(--color-primary-tint-4);
}

.deals-section .deal-container:not(:last-child) {
  margin-bottom: var(--spacing-12);
}

.stats-monthly .month:nth-child(even),
.deals-section .deal-container:nth-child(even) {
  background-color: var(--color-primary-tint-3);
}

.stats-overview::-webkit-scrollbar,
.stats-monthly::-webkit-scrollbar,
.filters-section::-webkit-scrollbar,
.deals-section::-webkit-scrollbar {
  display: none;
}

.company-name {
  justify-content: space-between;

  grid-row: 1 / span 2;
  grid-column: 2;
}

.company-name .text-content {
  padding: var(--spacing-12);
  width: 80%;
}

.deal-specification {
  justify-content: space-between;
  grid-row: 1 / span 3;
  grid-column: 1;
}

.specification-content {
  padding: var(--spacing-12);
  width: 80%;
  display: flex;
  flex-direction: column;
}

.specification-content .text-content:not(:last-child) {
  margin-bottom: var(--spacing-12);
}

.company-name .btn .icon,
.deal-specification .btn .icon {
  margin: 0;
}

/* FORM */

.sign-in {
  height: 100%;
  width: 100%;
  justify-content: center;
}

.form--sign-in {
  max-width: 30rem;
  transition: all 0.5s;
}

.form input {
  width: 100%;
  padding: var(--spacing-12);
  margin-bottom: var(--spacing-12);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-default);
  font-family: inherit;
  color: inherit;
  border: 2px solid var(--color-primary-tint-2);
  border-radius: var(--border-radius-default);
  background-color: var(--color-white);
}

.form button {
  border: none;
  color: var(--color-primary-tint-5);
  font-size: var(--font-size-18);
  background-color: var(--color-primary);
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button:hover {
  color: var(--color-accent);
}

/* STATS */

.stats {
  height: 100%;
}

.stats-overview {
  align-self: start;
}

.stats-overview,
.stats-monthly {
  height: 90%;
  overflow-y: scroll;
}

.stats .box-container {
  background-color: var(--color-primary-tint-4);
}

.stats-monthly .month:not(:last-child),
.stats-overview--pipe-forecast .grid:not(:last-child) {
  margin-bottom: var(--spacing-12);
}
